################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/build
/maf
/ouput3.maf
/out/build/WSL-GCC-Debug
/output.maf
